body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #2e354f;
}

/* Typography */

h1,
h2,
strong {
  font-weight: 900;
}
h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #ef5839;
}

a {
  color: #ef5839;
}

a:hover,
a:focus {
  color: lightblue;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 900;
}

.btn-accent {
  color: #fff;
  background: #ef5839;
}

.btn-accent:hover {
  background: #fff;
  color: #ef5839;
}

.btn-light {
  color: #2e354f;
  background: #fff;
}

.btn-accent:hover {
  color: #fff;
  background: #2e354f;
}

/* Layout */

header {
  background: #2e354f;
  color: #fff;
  padding: 45px 0;
}

section {
  padding: 45px 0;
}

.container {
  width: 620px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.section-two {
  background: #2e354f;
  color: #fff;
}
